@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
}

.container {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.standarts .content {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.-column {
    display: flex;
    flex-direction: column;
}

/* Header */

.header {
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, .6);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.logo img{
    height: 35px;
}

.navigation-list {
    display: flex;
}

.navigation-item {
    list-style: none;
    padding: 10px 15px;
}

.navigation-item a {
    text-decoration: none;
    color: #cdc6bd;
    font-size: 20px;
    line-height: 60px;
    transition: ease-out .25s;
    user-select: none;
}

.navigation-item a:hover {
    color: #ffda4b;
    transition: color ease-in .25s;
    border-bottom: 2px solid #ffda4b;
}

.navigation-item a.-active{
    color: #ffda4b;
}

/* Show Case */

/* Show Case İnfo */
.show-case {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./../img/home_taxi_header.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.show-case .container .content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.show-case-content {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin-top: 60px;
}

.show-case-info {
    /* width: 50%; ya da flex: 1; kullanılır.*/
    flex: 1;
    margin-right: 50px;
}

.show-case-form {
    /* width: 50%; ya da flex: 1; kullanılır.*/
    flex: 1;
}

.show-case-title {
    color: #fff;
    font-size: 42px;
    line-height: 42px;
    font-weight: 400;
    max-width: 70%;
    padding-bottom: 50px;
}

.show-case-message {
    font-size: 21px;
    line-height: 25px;
    color: #fff;
    padding-bottom: 15px;
}

.show-case-number {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    color: #ffda4b;
    text-decoration: none;
    background: url(./../img/home_taxi_phone.png);
    background-repeat: no-repeat;
    background-position: 5px 100%;
}

/* Show Case Form */

.show-case-form {
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    font-family: Arial, Helvetica, sans-serif;
    color: #1c1611;
    padding: 30px;
    background-image: url(./../img/home_taxi_form_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px;
    height: 100%;
}

.show-case-form-title {
    font-size: 36px;
    line-height: 38px;
    font-weight: 400;
    font-family:'Roboto Slab', serif ;
}

.show-case-form .-input {
    height: 38px;
    color: #444444;
    border: 1px solid #c49b2c;
    padding: 10px;
}

.-input:focus, textarea:focus {
    background-color:  #f5e4b6;
}

.show-case-form-desc {
    font-size: 16px;
    line-height: 28px;
    color: #6b552e;
}

.show-case-form .form-message {
    height: 102px;
    resize: none;
    padding: 10px;
    color:#444444 ;
    font-family: Arial, Helvetica, sans-serif;
}

.form-submit-btn {
    font-size: 18.2px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 10px 15px;
    align-self: flex-start;
    border-radius:7px; 
    border: none;
    cursor: pointer;
}

.standarts {
    background: #FFDA4B;
    width: 100%;
    height: 100vh;
    padding-bottom: 40px;
}

.standarts-main-title {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    color: #1c1611;
    margin: 0 0 15px 0;
    font-weight: 400;
}

.standarts-item {
    font-size: 13px;
    line-height: 21px;
    color: #6b552e;
    padding: 0.61px 0.61px;
}

.standarts-item-img {
    max-width: 100%;
    margin: 15px 0 30px 0;
}

.standarts-title {
    color: #1c1611;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 15px;
}

.standarts-desc {
    color: #6b552e;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    padding: 13px 50px;
}

.standarts-list {
    display: flex;
    text-align: center;
}

/* Localiazitons */

.localization {
    height: 100vh;
    width: 100%;
    background-color: gray;
}

.localization-header {
    background-color: black;
    height: 147px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.localization-title {
    font-size: 42px;
    line-height: 42px;
    font-weight: 400;
    color: #fff;
}

.localization-map {
    height:calc(100% - 147px);
    width: 100%;
}

/* Prices */

.prices {
    height: 100vh;
    width: 100%;     
    background-color:#FFDA4B;
}

.prices-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 25px;
}

.price-article-title {
    font-size: 36px;
    line-height: 38px;
    height: 76px;
    margin-bottom: 15px;
    text-align: right;
    width: 60%;
    color: #1c1611;
    font-weight: 400;
}

.price-article-paragraph {
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #6B552E;
    margin-bottom: 15px;
    height: 84px;
    text-align: right;
    width: 86%;
}

.price-article-btn {
    padding: 15px 30px;
    color: #ffff;
    background-color: black;
    border-radius: 7px ;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.price-cards {
    width: 50%;
    display: flex;
}

.price-card1 {
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #6B552E;
    background-color: #fff;
    border-radius: 13px;
    padding: 40px 28px 20px 28px;
    margin-right: 15px;
    margin-left: 25px;
    box-shadow:0 0 6px 4px;
}

.price-card2 {

    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #fff;
    background-color: #1C1611;
    border-radius: 13px;
    padding: 40px 28px 20px 28px;
    margin-left: 15px;
    box-shadow:0 0 6px 4px;
}

.price-car-type {
    color: #a8a7a6;
}

.price-car-price1 {
    color:#1c1611 ;
    font-size: 60px;
    line-height: 60px;
}

.price-car-price2 {
    color:#FFDA4B ;
    font-size: 60px;
    line-height: 60px;
}

.price-distance1 {
    color:#1c1611 ;
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 15px;
}

.price-distance2 {
    color:#fff ;
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 15px;
}

.price-comment1 {
    font-size: 16px;
    line-height: 28px;
    color: #6b552e;
    margin-right: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.price-comment2 {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    margin-left:10px;
    margin-bottom: 15px;
    word-wrap: break-word;
    text-align: center;
}

/* About */

.about {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color:#FFDA4B ;
}

.about-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img-list {
    width: 50%;
}

.about-img {
    max-height: 205px;
    max-width: 273px;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px ;
    border-radius: 8px;
    box-shadow: 0 0 5px 3px;
}

.about-comment {
    width: 50%;
    height: 415px;
}

.about-comment-title {
    margin-bottom: 15px;
    margin-top: 10px;
    color: #1c1611;
    font-size: 36px;
    line-height: 38px;
    font-weight: 400;
}

.about-comment1 {
    margin-bottom: 15px;
    color: #6b552e;
    font-size: 16px;
    line-height: 28px;
}

.about-comment-item {
    width: 80%;
    margin-left: 25px;
}

.about-comment2 {
    margin-bottom: 40px;
    color: #6b552e;
    font-size: 13px;
    line-height: 21px;
}

.about-article-btn {
    font-size: 13px;
    line-height: 21px;
    padding: 15px 30px;
    background-color: black;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.about-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    line-height: 42px;
    color: #1c1611;
    width: 100%;
    height: 130px;
    background-color: #E8A600;
    box-shadow: 0 0 10px 1px;
}

.copyright-area {
    background-color: #2F2820;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    line-height: 21px;
    color: #FFDA4B;
    height: 30px;
    width: 100%;
    box-shadow: 0 0 4px 2px;
}

.hamburger-menu-btn {
    display: none;
    height: 24px;
    width: 24px;
    border: none;
    user-select: none;
    outline: none;
    cursor: pointer;
    background: no-repeat url(./../img/menu.png) center;
}

